GoNaturePrototype/bin/.DS_Store
GoNaturePrototype/bin/client/.DS_Store
GoNaturePrototype/run_client_swing.sh
GoNaturePrototype/src/.DS_Store
GoNaturePrototype/src/client/.DS_Store
GoNaturePrototype/.DS_Store
.DS_Store
